.Notifications {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    background: gainsboro;
    border: 1px solid #ccc; 
}

.NotificationNav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.NotificationNav p {
    padding: 20px;
    margin: 0px;
}

.NotificationNav p:hover {
    color: slategray;
    cursor: pointer;
}