.ProductsView {
    padding: 10px;
    width: 80%;
    margin: auto;
    display: border-box;
}

.Products {
    float: left;
    width: 41%;
    background: whitesmoke;
    border: 1px solid #ccc;
    margin: 15px 10px;
    padding: 20px;
}

.Product {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.ProductPic {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Product p,
.Product label {
    width: 100%;
    margin: auto;
    padding: 0 10px 10px 0px;
}

.Button {
    display: flex;
    justify-content: flex-end;
    margin: auto 10px;
}