.Chats {
    background: rgb(236, 234, 234);
    margin: 0px 10px;   
}

.UserNames {
    float: left;
    width: 25%;
    padding: 10px;
    margin: 20px;
    height: 75vh;
    border-right: 1px solid #ccc;
}

.User h3{
    font-size: 1.1rem;
    font-weight: 340;
    padding: 10px;
}

.User h3 {
    margin: 5px;
}

.User:hover {
    background: rgb(218, 206, 206);
    border-radius: 5px;
    cursor: pointer;
}

.ChatScreen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
}

.Conversations {
    background: rgb(255, 255, 255);
    height: 72vh;
    width: 95%;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Conversations input {
    height: 30px;
    padding: 0px 10px;
    font-size: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 85%;
}

.hr {
    border-top: 2px solid #ccc;
}

.Screen {
    overflow: hidden;
    scroll-behavior: smooth;
}

.Screen::-webkit-scrollbar { 
    width: 0 !important 
}

.UserChat {
    display: flex;
    justify-content: flex-start;
}

.UserChat p {
    padding: 3px 10px;
    background: rgb(207, 150, 96);
    border-radius: 0px 4px 4px 0px;
    margin: 4px 0px;
}

.Admin {
    display: flex;
    justify-content: flex-end;
}

.Admin p {
    padding: 3px 10px;
    background: rgb(24, 212, 172);
    border-radius: 4px 0px 0px 4px;
    margin: 4px 0px;
}