.adminHome {
    display: flex;
    justify-content: space-around;
}

.Box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    height: 400px;
}

.PieChart {
    width: 100%;
    padding: 10px;
    margin: auto 10px;
}