.UserNotifications {
    width: 95%;
    margin: 10px auto;
    float: left;
    padding: 10px;
}

.UserProduct {
    width: 45%;
    float: left;
    border: 1px solid #ccc;
    background: lightgray;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.UserNotificationsNavigation {
    position: fixed;
    float: left;
    left: 0px;
    top: 75px;
    height: 100%;
    border-right: 1px solid #ccc;
    width: 18rem;
    background: ghostwhite;
}

.UserNotificationsNavigation p {
    padding: 10px 20px;
    margin: 0px 10px 0px;
}

.UserNotificationsNavigation p:hover {
    background: #ccc;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(99, 83, 83);
    font-weight: 500;
}

.UserNotificationsNavigation p:active {
    color: rgb(54, 46, 46);
}

.UserProducts {
    margin-left: 20rem;
}

.UserParagraph {
    margin-top: 40px;
}

.ModifiedNavBar {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ModifiedNavBar p {
    padding: 20px;
    margin: 0px;
}

.ModifiedNavBar p:hover {
    color: slategray;
    cursor: pointer;
}