.ProfileMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}   

.ProfileMain img {
    border-radius: 50%;
}

.ProfileMainContent {
    padding-left: 70px;
}

.ProfileBackground {
    display: flex;
    justify-content: center;
    background: ghostwhite;
    width: 60%;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.ProfileBackground2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: ghostwhite;
    width: 60%;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.About {
    width: 95%;
    background: rgb(96, 168, 235);
    margin: 0px;
    padding: 20px;
}

.ProfileBackground2 label {
    font-size: 0.8rem;
    margin: 30px 0px;
}

.ProfileContent {
    margin-top: 30px;   
    padding-left: 20px;
}