.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 50%;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.493);
    padding: 16px;
    left: 25%;
    top: 15%;
    box-sizing: border-box;
    transition: all 0.7s ease-out;
}