.NotificationNav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.NotificationNav p {
    padding: 20px;
    margin: 0px;
}

.NotificationNav p:hover {
    color: slategray;
    cursor: pointer;
}