.UserPaymentProduct {
    background: rgb(235, 243, 245);
    border: 1px solid rgb(225, 225, 247);
    padding: 20px;
    width: 80%;
    margin: 20px auto;
}

.UserPaymentProduct span{
    display:inline-block; 
    margin: 0px .2rem;
}

.UserPaymentProduct label {
    display: block;
    margin: 5px;
}

.UserPaymentProduct a {
    text-decoration: none;
}

.UserPaymentProduct a:hover {
    text-decoration: underline;
}

.InputValues {
    margin-top: 30px;
}   