.Navigation {
    background: #1388d1;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.Navigation p {
    margin: 20px;
    width: 100%;
    font-size: 1.6rem;
    font-weight: bold;
}

