.Login {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
}

.Login div {
    padding-right: 5px;
}

.Login a {
    text-decoration: none;
    border-bottom: 1px solid darkslategray;
}

.Login a:hover {
    background: darkslategray;
    border-bottom: 1px solid darkslategray;
    color: ghostwhite;
    padding: 0 4px;
}