.UserHistory {
    width: 100%;
    margin: auto;
}

.UserProduct {
    width: 45%;
    float: left;
    border: 1px solid #ccc;
    background: lightgray;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}