.Payment {
    background: #d4edda;
    border: 1px solid #cdecd4;
    border-radius: 2px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

.PaymentMode {
    margin: 10px 0;
    font-size: 0.8rem;
    font-weight: 350;
}

.PaymentMode p,
.PaymentDesc p {
    margin: 2px;
}

.PaymentDesc {
    margin: 10px 0;
}