.NavigationItems {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    background: #535aaf;
    /* background: #5e4884;
    background: -moz-linear-gradient(left, #5e4884 1%, #5e4884 26%, #49808b 59%, #528d98 74%, #87b7bf 100%);
    background: -webkit-linear-gradient(left, #5e4884 1%,#5e4884 26%,#49808b 59%,#528d98 74%,#87b7bf 100%);
    background: linear-gradient(to right, #5e4884 1%,#5e4884 26%,#49808b 59%,#528d98 74%,#87b7bf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e4884', endColorstr='#87b7bf',GradientType=1 ); */
}

.NavigationItems a:hover {
    color: rgb(35, 38, 41);
}

.NavigationItems a:last-child {
    margin-left: auto; 
}