.NavigationItem {
    margin: auto 10px 4px;
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.SelfAlign {
    margin-right: 40px;
}

.Main {
    font-weight: 300;
    font-size: 1.6rem;
    margin: 0;
    margin-right: 40px;
}