.Product {
    display: flex;
    justify-content: flex-start;
    margin: 0;
}

.Product p,
.Product label {
    width: 100%;
    margin: auto;
    padding: 0 10px 10px 0px;
}

.Button {
    display: flex;
    justify-content: flex-end;
    margin: auto 10px;
}