.Input {
    width: 90%;
    margin: auto;
    padding: 2px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.InputElement {
    outline: none;
    border: 1px solid white;
    background-color: white;
    border-bottom: 1px solid #ccc;
    font: inherit;
    height: 2.3rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.Dropdown {
    outline: none;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    height: 2.3rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.Invalid {
    border: 1px solid red;
    background-color: rgb(255, 157, 146); 
}

.ValidationError {
    color: red;
    font-size: 1rem;
    margin: 5px 0;
} 

.InputElement:focus {
    outline: none;
    box-shadow: 0px 0px 20px rgb(134, 134, 233);
}