.ProductsView {
    padding: 10px;
    margin: auto;
}

.Products {
    float: left;
    width: 45%;
    background: whitesmoke;
    border: 1px solid #ccc;
    margin: 15px 10px;
    padding: 20px;
}

.Product {
    display: flex;
    justify-content: flex-start;
}

.ProductPic {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Product p,
.Product label {
    width: 100%;
    margin: auto;
    padding: 0 10px 10px 0px;
}

.ProductButtons {
    display: flex;
    justify-content: flex-end;
}