.Button {
    display: flex;
    justify-content: center;
}

.Chat {
    position: fixed;
    bottom: 5%;
    right: 2%;
    background: #ccc;
    padding: 10px;
    margin: 10px;
    width: 280px;
}

.Chat:hover {
    cursor: pointer;
}

.ChatEnabled {
    position: fixed;
    bottom: 2%;
    right: 2%;
    background: ghostwhite;
    border: 2px solid rgb(148, 148, 223);
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 400px;
    border-radius: 4px;
}

.ChatBox {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 400px;
}

.ChatBox button {
    align-self: flex-end;
}

.Conversation {
    overflow: scroll;
    scroll-behavior: smooth;
    height: 250px;
    background: white;
    width: 90%;
    margin: 10px auto;
    padding: 2%;
    border: 1px solid rgb(82, 78, 78);
    border-radius: 5px;
}

.Conversation::-webkit-scrollbar { 
    width: 0 !important 
}

.ChatContent {
    height: 350px;
    width: 100%;
}

.Input {
    margin: 0 10px;
    width: 100%;
}

.Input input {
    width: 70%;
    background: white;
    height: 30px;
    padding: 0px 5px;
    font-size: 0.8rem;
    font-weight: 350;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.Input button {
    padding: 0px;
    font-weight: 400;
}

.Input button:hover {
    cursor: pointer;
    color: seagreen;
    font-weight: 500;
}

.User {
    display: flex;
    justify-content: flex-end;
}

.User p {
    padding: 3px 10px;
    background: rgb(207, 150, 96);
    border-radius: 4px 0px 0px 4px;
    margin: 4px 0px;
}

.Admin {
    display: flex;
    justify-content: flex-start;
}

.Admin p {
    padding: 3px 10px;
    background: rgb(24, 212, 172);
    border-radius: 0px 4px 4px 0px;
    margin: 4px 0px;
}