.Body {
    font: 16px/1.6em Arial;
    margin: 0px;
    padding: 0px;
    background-color: #46aeef;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
  

  /*Start of showcase */
.showcase {
    background-image: url("../../../assets/inventory.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: cornflowerblue;
    min-height: 350px;
}
  
.showcase h1 {
    text-align: center;
    font-size: 30px;
}
  
.showcase p {
    font-size: 22px;
    text-align: center;
    padding-top: 20px;
    padding-left: 20px;
}
  
  /*End of showcase */
  
  /* Placing the 3 blocks in a same row */

.box {
    background-color: #a6d1ed;
    float: left;
    width: 32%;
    box-sizing: border-box;
    margin-left: 10px;
    margin-top: 20px;
    text-align: center;
    /*position: absolute;*/
}
  
footer {
    background-color: #2c2f51;
    margin-top: 20px;
    text-align: center;
    color: azure;
    padding: 1px;
}
  
.box h1 {
    color: #343e5e;
    font-family: "Times New Roman", Times, serif;
    text-decoration: underline dotted black;
}
  
.box p {
    text-align: center;
}
  